[submodule "ccsToCMake"]
	path = ccsToCMake
	url = https://github.com/benhaub/ccsToCMake.git
[submodule "AbstractionLayer"]
	path = AbstractionLayer
	url = git@github.com:benhaub/AbstractionLayer.git
